<!DOCTYPE html>
<html>
  <head>
    <meta chartset="UTF-8">
    <title>Sfotify - The Best Artists</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <h1>Artists</h1>
    <ul>
    <% artistas.forEach(function(artista){ %>
    	<li> <%= artista %> </li>
    <% }) %>
    </ul>
    <%= err %>
  </body>
</html>
